<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete</title>
    </head>
    <body>
        <h1>Deleting is permanent and cannot be undone.</h1>
        <form action="/<%= commentType %>/<%= comment._id %>/delete/?_method=DELETE" method="post">
            <button style="color: red; font-weight: bold">DELETE</button>
        </form>
    </body>
</html>