<style>
    h1{
        text-align: center;
    }
    .comment-textarea{
        display: block;
        margin: 20px auto;
        padding: 20px;
        width: 600px;
        height: 500px;
        font-size: 30px;
        font-family: cursive;
    }
</style>

<h1>Comment</h1>



<form action="/post/<%= post._id %>/comment" method="post">
    <textarea class="comment-textarea" name="comment[text]" required></textarea>
    <button>Submit</button>
</form>