<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>The Color Green Login</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon (2).ico" />
            <link rel="stylesheet" type="text/css"href="../styles/login.css">
    </head>
    <body>
      <h1>Login</h1>
      <div class="container">
        <div class="form">
            <form action="/login" method="post">
                <input type="text" name="username" required placeholder="username">
                <input type="password" name="password" required placeholder="password">
                <button>Login</button>
            </form>
            <p>Don't have an account? <a href="/signup">signup</a></p>
        </div>
      </div>
    </body>
</html>
