<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>The Color Green Signup</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon (2).ico" />
        <link rel="stylesheet" type="text/css"href="../styles/loader.css">
        <link rel="stylesheet" type="text/css"href="../styles/signup.css">
    </head>
    <body>
      <div id="loader-container">
        <div id="load">
          <div class="inner-loader">
            <div class="inner-loader">
              <div class="inner-loader">
                <div class="inner-loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <h1>Signup</h1>
        <div class="form">
                <input type="text" autocomplete="off" id="username" placeholder="username"/>
                <p class="username-taken-msg">.</p>
                <input id="password" type="password" placeholder="password" class="password">
                <p class="password-err-msg">your password must be more than 8 characters.</p>
                <button>Signup</button>
            <p>Have an account? <a href="/login">Login</a></p>
        </div>
        <script src="/js/framework.js"></script>
        <script type="text/javascript" src="js/signup.js"></script>
    </body>
</html>
