<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>The Color Green Signup</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon (2).ico" />
            <link rel="stylesheet" type="text/css"href="../styles/signup.css">
    </head>
    <body>

        <h1>Signup</h1>

        <div class="form">
            <form action="/signup" method="POST" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" -->
                <input type="text" name="username" placeholder="username" minlength="3" required>
                <input type="password" name="password" placeholder="password" class="password" required maxlength="30">
                <p class="password-err-msg">your password must be more than 8 characters.</p>
                <div class="image-form-container">
                    <div class="image-input-button">
                      <span>Image</span>
                      <input class="file-input" type="file" id="image" name="image" accept="image/*" required>
                    </div>
                    <p class="image-status"></p>
                </div>
                <input type="text" name="newuser[firstName]" placeholder="first name" minlength="1" required>
                <input type="text" name="newuser[lastName]" placeholder="last name" minlength="1" required>
                 <input type="date" name="newuser[birth]" minlength="1" required>
                <input type="email" name="newuser[email]" placeholder="email" minlength="1" required>
                <p>
                    I agree to the <a href="/">terms of service</a>
                    <input id="checkbox" type="checkbox" name="agree" required>
                </p>
                <button>Signup</button>
            </form>
            <p>Have an account? <a href="/login">Login</a></p>
        </div>
        <script type="text/javascript" src="js/signup.js"></script>
    </body>
</html>
