<nav>
    <ul>
        <span id="nav-header"><a href="/">The Color Green</a></span>
        <li><a href="/">Home</a></li>
        <li><a href="/users">users</a></li>
        <% if(currentUser){ %>
            <li class="nav-right"><a href="/logout">logout</a></li>
            
                <a href="/user/<%= currentUser._id %>">
                    <img class="nav-right nav-img" src="<%= currentUser.image %>">
                </a>
        <% }else{ %>
            <li class="nav-right"><a href="/signup">Signup</a></li>
            <li class="nav-right"><a href="/login">Login</a></li>
        <% } %>
    </ul>
    <div class="sandwich"></div>
</nav>


