<nav>
    <ul>
        <span id="nav-header"><a href="/">The Color Green</a></span>
        <li><a href="/">Home</a></li>
        <li><a href="/users">users</a></li>
        <!--<li><a href="/featured">Featured</a></li>-->
        <li class="nav-right"><a href="/signup">Signup</a></li>
        <li class="nav-right"><a href="/login">Login</a></li>
    </ul>
    <div class="sandwich"></div>
</nav>


