<nav>
    <ul>
        <li><a href="/"><i class="fas fa-home"></i></a></li>
        <li id="search-icon" onclick="toggleSearchbar()"><i class="fas fa-search"></i></li>
        <div class="search-container">
            <i class="fas fa-times exit-search-container" onclick="toggleSearchbar()"></i>
            <form action="/users" method="get"> 
                <input id="search" type="text" name="search" autocomplete="off" placeholder="Search users">
                <button id="search-Btn"><i class="fas fa-search"></i></button>
            </form>
            <div id="results"></div>
        </div>
        <div class="sandwich" onclick="toggleNavbar()">|||</div>
        <div class="list">
            <i class="fas fa-times exit-navbar" onclick="toggleNavbar()"></i>
            <% if(currentUser){ %>
                <p>
                    <a href="/user/<%= currentUser._id %>">
                        <img class="nav-img" src="<%= currentUser.profileIconImage %>">
                    </a>
                    <a href="/user/<%= currentUser._id %>">Profile</a>
                </p>
                <p><a href="/user/<%= currentUser._id %>/edit">Edit profile</a></p>
                <p><a href="/logout">logout</a></p>
            <% }else{ %>
                <p class="nav-right"><a href="/signup">Signup</a></p>
                <p class="nav-right"><a href="/login">Login</a></p>
            <% } %>
        </div>
    </ul>
</nav>

<script>
    var S = t => document.querySelector(t);
    var toggleNavbar = () => S(".list").classList.toggle("open-navbar");
    var toggleSearchbar = () => S(".search-container").classList.toggle("open-search-container");
</script>