<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>Edit Post</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon (2).ico" />
        <!-- <link rel="stylesheet" type="text/css"href="/fontawesome-free/css/all.css"> -->
        <link rel="stylesheet" type="text/css"href="/styles/edit.css">
        <style media="screen">
          textarea{
            display: block;
            margin: 0 auto;
            width: 900px;
            height: 500px;
            font-size: 30px;
          }
        </style>
    </head>
    <body>
        <h1>Edit Post</h1>
        <div>
            <form action="/post/<%= post._id %>?_method=PUT" method="post">
                <textarea class="textarea" name="post[text]"><%= post.text %></textarea>
                <button>Update</button>
            </form>
        </div>
        <a id="delete-btn" href="/post/<%= post._id %>/delete_post">delete Post</a>
    </body>
</html>
