<!DOCTYPE html>
<html>
    <head>
        <title>The Color Green</title>
            <link rel="stylesheet" type="text/css"href="/landing.css">
    </head>
    <body>
        <h1>The Color Green</h1>
    </body>
</html>