<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="../js/loader.js"></script>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <title>The Color Green</title>
            <link rel="stylesheet" type="text/css"href="../styles/loader.css">
            <link rel="stylesheet" type="text/css"href="../styles/landing.css">
            <!--<link rel="shortcut icon" type="image/x-icon" href="images\favicon (2).ico" />-->


            <link rel="icon" type="image/png" sizes="16x16" href="images\favicon (2).ico">
            <!--<link rel="apple-touch-icon" sizes="180x180" href="images\favicon (2).ico">
            <link rel="icon" type="image/png" sizes="32x32" href="images\favicon (2).ico">
            <link rel="manifest" href="images\favicon (2).ico">
            <link rel="mask-icon" href="images\favicon (2).ico" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff"> -->


    </head>
    <body>

      <div id="loader-container">
        <div id="load">
          <div class="inner-loader">
            <div class="inner-loader">
              <div class="inner-loader">
                <div class="inner-loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
<div id="container">
<section class="login-container">
  <span class="x">login:</span>
  <form class="login-form" action="/login" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" name="" value="login">
  </form>
</section>
  <!-- <form class="search" action="/users" method="get">
    <input type="text" name="search" placeholder="Search users">
  </form> -->

        <section class="signup-container">
            <div class="signup-info">
              <h1 class="thecolorgreen">The Color Green</h1>
            </div>
            <a class="signup-btn" href="/signup">Signup</a>
        </section>
</div>

<script type="text/javascript" src="../js/landing.js"></script>
    </body>
</html>
