<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../js/loader.js"></script>
        <title>The Color Green</title>
        <meta name="Description" content="A social media for people with green ideas.">
        <meta name="keywords" content="green, social media">
        <meta name="author" content="Booker Robinson">
        <link rel="icon" type="image/png" sizes="16x16" href="images\favicon (2).ico">
        <link rel="stylesheet" type="text/css"href="../styles/loader.css">
        <link rel="stylesheet" type="text/css"href="../styles/landing.css">
    </head>
    <body>
      <div id="loader-container">
        <div id="load">
          <div class="inner-loader">
            <div class="inner-loader">
              <div class="inner-loader">
                <div class="inner-loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="container">
            <h1 id="thecolorgreen">The Color Green</h1>
            <div class="signup-container">
              <a class="login btn" href="/login">Login</a>
              <a class="signup btn" href="/signup">Signup</a>
            </div>
            <section>
              <p class="description">
                What is <span class="thecolorgreen">The Color Green</span>? <br>
                <span class="thecolorgreen">The Color Green</span> is a social media for people with green ideas to share with the world.
                Green is the color of nature, peace, calm, and positivity. Those are the things <span class="thecolorgreen">The Color Green</span> stands for.
                We are striving to make the world peaceful and calm, to bring more positivity and optimism by encouraging 
                ideas that make the world a better place. We want our platform to encourage eco friendly technologies, inspirational social change,
                ecological projects and beautiful arts and ideas of all kinds while appreciating and conserving 
                the beautiful and amazing things that we already have. Often the craziest and most unlikely ideas and projects no mater 
                how seemingly small can make invaluble improvements to the world. So signup now to join our community of current and 
                future leaders, farmers, innovators, inventors and artists that are working for the betterment of this world...
              </p>
            </section>
      </div>
    </body>
</html>
