<!DOCTYPE html>
<html>
    <head>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <script type="text/javascript" src="../js/loader.js"></script>
        <title>The Color Green</title>
        <link rel="icon" type="image/png" sizes="16x16" href="images\favicon (2).ico">
        <link rel="stylesheet" type="text/css"href="../styles/loader.css">
        <link rel="stylesheet" type="text/css"href="../styles/landing.css">
    </head>
    <body>
      <div id="loader-container">
        <div id="load">
          <div class="inner-loader">
            <div class="inner-loader">
              <div class="inner-loader">
                <div class="inner-loader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="container">
        <section class="signup-container">
            <div class="signup-info">
              <h1 class="thecolorgreen">The Color Green</h1>
            </div>
            <a class="login btn" href="/login">Login</a>
            <a class="signup btn" href="/signup">Signup</a>
        </section>
      </div>
    </body>
</html>
