body{
    background: #050 url("https://res.cloudinary.com/ddxbyvkui/image/upload/v1536501460/IMG_20180909_093029869.jpg") no-repeat fixed center;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
    color: #0a0;
}