body{
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

hr{
    border: 1px solid #ddd;
}

.center{
    text-align: center;
}

.post-container{
    margin: 0 auto;
    width: 900px;
}

#comments{
    margin: auto;
    min-height: 100px;
}

.comment{
    position: relative;
    margin: 5px 10px;
    padding: 20px 20px;
    border-bottom: 1px solid #aaa;
}

.replies{
    font-family: monospace;
    color:#0a0;
}

.uname{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.uname:hover{
  text-decoration: underline;
}

.right h3{
    font-size: calc(30px - 1vw);
}

.right{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 20px;
}

.comment-body{
    max-width: 80%;
    font-size: 20px;
}

.edit-btn{
    display: block;
    margin-top: 1vw;
    float: right;
    font-size: 16px;
}

.edit-btn a{
    text-decoration: none;
    color: orange;
}

.add-comment{
    margin: 0 auto;
    width: 900px;
}

.add-comment input{
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 30px;
    outline: none;
}

.add-comment img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.loadmore-btn{
    display: block;
    padding: 10px;
    background-color: transparent;
    color: #051b00;
    border: 2px solid #000;
    margin: 40px auto;
    font-size: 100px;
    cursor: pointer;
}
.loadmore_loader{
    display: block;
    margin: 40px auto;
    width: 100px;
    height: 100px;
    border-top: 4px solid #000;
    border-left:4px solid #000;
    border-radius: 50%;
    animation: loader 750ms linear infinite;
}
.hidden{
    display: none;
}

@media only screen and (min-device-width: 9in){
    .edit-btn{
        font-size: 12px;
    }
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (min-device-width: 6in){
    .loadmore-btn{
      font-size: 50px;
    }
  }