* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #aae6b9;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

h1{
    text-align: center;
    margin: 50px auto;
    font-size: 100px;
}

button{
    display: block;
    margin: 50px auto;
    font-size: 30px;
    padding: 25px 70px;
    background-color: #0af;
}

#delete-btn{
  display: block;
  float: right;
  margin: 50px;
  width: 200px;
  padding: 25px 0;
  background-color: #a00;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.container{
    width: 70vw;
    margin: 0 auto;
}

section{
    padding: 25px 0;
    border-bottom: 1px solid #aaa;
    font-size: 30px;
}

section p{
    display: inline-block;
    max-width: 80%;
}

.profile-image{
    display: inline-block;
    width: 300px;
}


.image-input-btn{
  position: relative;
  width: 350px;
  height: 125px;
  background: #0065a7 linear-gradient(#0c45b9, #199daf);
  border-radius: 5px;
}

.image-input-btn span{
  position: absolute;
  top: 27%;
  left: 5%;
  font-size: 40px;
  font-family: monospace;
  z-index: 1;
}

.img{
  position: absolute;
  width: 350px;
  height: 125px;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
.fa-cog{
    float: right;
    font-size: 30px;
}

.open-input-box-one{
    display: none;
}

.open-input-box-two{
    display: none;
}

section div{
    display: none;
}

section div input{
    /*margin-top: 20px;*/
    width: 100%;
    height: 40px;
    font-size: 25px;
}

section div textarea{
    padding: 20px;
    width: 100%;
    height: 200px;
    font-size: 30px;
}
