body{
    background: #050 url("/images/leaf-compressed.jpeg") no-repeat fixed center;
}

#thecolorgreen{
    text-align: center;
    font-size: 100px;
    color: #0f0;
    text-shadow:
    10px 10px 5px #000;
}

.description{
  font-size: 30px;
  text-shadow: 1px 1px 1px rgb(170, 255, 181);
  font-weight: bold;
  color: #000;
}

.thecolorgreen{
  text-shadow: 1px 1px 1px rgb(136, 255, 152);
  color: #0f0;
}

.signup{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  background: #0f0 linear-gradient(#0f0, rgb(208, 255, 0));
  border: none;
  border-radius: 10px;
}

.login{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  background: #0f0 linear-gradient(#aaf, #056);
  border: none;
  border-radius: 10px;
}

.btn{
  margin: 0 20px;
  padding: 30px 50px;
  font-size: 20px;
  transition: all .2s;
}

.signup-container{
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  text-align: right;
  width: 90%;
}

.btn:hover{
  transform: scale(.9);
}

.btn:active{
  transform: scale(.8);
}

@media only screen and (max-width: 8in) {
  #thecolorgreen{
    font-size: 12.5vw;
  }
  .btn{
    margin: 0 3vw;
    padding: calc(2vw + 10px) calc(3vw + 10px);
    font-size: calc(2vw + 7px);
  }
  .description{
    font-size: 25px;
  }
}
