body{
    background: #050 url("/images/leaf.jpg") no-repeat fixed center;
    /*background-size: 350vw 260vw;*/
}

h1{
    float: left;
    font-size: 100px;
    color: #0a0;
}

.signup-container{
  margin: 50px auto;
  width: 90vw;
  height: 600px;
  /* background-color: #00f; */
}

.signup-btn{
  float: right;
  margin: 100px 100px;
  padding: 50px 100px;
  color: #000;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  font-family: monospace;
  background: #0f0 linear-gradient(#0a0, #0f0, #0a0, #0f0, #0a0, #0f0, #0a0, #0f0);
  border: none;
  border-radius: 10px;
}

.login-container{
  float: right;
  margin-top: -30px;
  /* width: 780px; */
}

.login-form{
  display: inline-block;
  float: right;
}

.x{
  margin-right: 10px;
  font-size: 40px;
  font-family: monospace;
}

.x-after{
  display: inline-block;
  float: right;
  /* width: 30px; */
  /* height: 30px; */
  text-align: center;
  /* border-radius: 50%; */
  font-size: 50px;
  color: #fff;
  /* background-color: #000; */
}

.login-form input{
  width: 300px;
  height: 35px;
  padding: 0;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  transition: all 1s;
}

.login-form input::placeholder{
  color: #222;
}

.login-form input[type=submit]{
  width: 1px;
  height: 1px;
  opacity: 0;
}

                              /* ===================================== */
                              /*           after form is clicked       */
                              /* ===================================== */


 @keyframes grow-input {
   100%{
      transform: translate(-500px, 200px) scale(2);
   }
 }
