body{
    background: #0a0 url("../images/leaf.jpg") no-repeat fixed center;
    /*background-size: cover;*/
}

h1{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}

p{
    font-size: 30px;
}

a{
    color: #0ff;
}

.form{
    margin: 0 auto;
    width: 800px;
}

input{
    display: block;
    margin-top: 50px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    /* font-weight: bold; */
    background-color: #fff0;
    border: none;
    border-bottom: 4px solid #000;
    font-size: 40px;
}

input::placeholder{
  font-size: 40px;
  color: #000a;
}

input:focus{
    outline: none;
}

button{
    display: block;
    margin: 70px auto;
    width: 90%;
    height: 50px;
    background-color: #0c5;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #000;
}

button:active{
    margin: 71px auto;
    background-color: #0a3;
    height: 49px;
    box-shadow: 1px 1px 5px 2px #000;
}

button:active{
    margin: 72px auto;
    outline: none;
    background-color: #081;
        height: 48px;
    box-shadow: 0px 0px 5px 2px #000;
}
