nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 80px;
    background: #0a0 url("../images/leaf-compressed.jpeg") no-repeat fixed center;
}

#nav-header{
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}

#nav-header a{
    text-decoration: none;
    font-weight: bold;
    font-size: calc(20px + .5vw);
    color: #0f0;
}


.sandwichh{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #0f0 linear-gradient(#0f0, #050, #0f0, #050);
}

 nav ul{
     margin: 0;
        list-style: none;
        font-size: 30px;
    }

    nav li{
        display: inline-block;
        margin: 20px 0 0 2vw;
        padding: 0 1vw;
        /*font-size: 20px;*/
        font-weight: bold;
        font-family: serif;
    }

    nav li:hover{
        border-bottom: 2px solid #fff;
    }

    nav li a{
        text-decoration: none;
        color: #fff;
    }

    nav{
        height: 80px;
    }

    .nav-img{
        width: 50px;
        height: 50px;
    }

    .nav-right{
        display: flex;
         float: right;
        margin: 20px 2vw;
    }

    .nav-right a{
        color: #000;
    }

    .nav-right:hover{
        border-bottom: 2px solid #000;
    }

/*}*/


/*@media only screen and (min-width: 700px) {*/


/*}*/
