body{
    padding-top: 100px;
    background: #050 radial-gradient(#080, #060) repeat-y fixed center;
}

a{
    text-decoration: none;
    color: #000;
}

.name{
    display: table-cell;
    vertical-align: middle;
    table-layout: auto;
    width: 60%;
    height: 100%;
    padding-left: 50px;
    font-size: 30px;
    font-family: monospace;
}

.user{
    display: table;
    width: 90vw;
    margin: 30px 30px;
    box-shadow: 5px 5px 20px 5px #000;
}

.profile-img{
  display: inline-block;
  width: 400px;
}

.user img{
    width: 100%;
}

.no-user-error-msg{
    font-size: 22px;
}

.no-user-error-msg i{
    display: inline-block;
    margin-left: 30px;
    font-size: 100px;
    transform: rotate(80deg);
}

.search{
    margin: auto 10px auto auto;
    width: 400px;
}

.search input{
    width: 400px;
    height: 40px;
    font-size: 30px;
}
