body{
    padding-top: 100px;
    background: #050 radial-gradient(#080, #060) /*url("https://res.cloudinary.com/ddxbyvkui/image/upload/v1536274994/kwh9yhx6icue5luibuu6.jpg")*/ repeat-y fixed center;
}

a{
    text-decoration: none;
    color: #0ff;
}

h1{
    text-align: center;
    margin: 0;
    height: 100%;
    background-color: #000;
    
}

.user{
    display: inline-block;
    margin: 30px 30px;
    width: 300px;
    background-color: #0af;
    box-shadow: 5px 5px 20px 5px #000;
}
.user img{
    display: block; 
    width: 100%;
    height: 90%;
}

.no-user-error-msg{
    font-size: 22px;
}

.no-user-error-msg i{
    display: inline-block;
    margin-left: 30px;
    font-size: 100px;
    transform: rotate(80deg);
}

.search{
    margin: auto 10px auto auto;
    width: 400px;
}

.search input{
    width: 400px;
    height: 40px;
    font-size: 30px;
}
